
:root {
    --primeColor: rgb(13, 154, 149);
    --whiteColor: white;
    --blackColor: black;
    --lightGrey: #EAEAEA;
    --darkGrey: #CACACA;
    --darkerGrey: #7F7F80;
}


    body {
        font-size: 100%;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1.5vw;
        box-shadow: 0 0.2rem 0.5rem rgba(13, 154, 149, 0.5);

    }
.logo {
        width: 6vw;
        max-width: 4rem;
        height: auto;
        margin-left: 5em;
    }

    .nav-list {
        list-style: none;
        display: flex;
        gap: 2.5rem;

        li a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 300;
        color: var(--blackColor);
    }
    }


    .icons {
        display: flex;
        gap: 1.5rem;
        margin-right: 1em;

    }
.main {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 8em 10%;
        gap: 5vw;
        background-image: url("image/bg.png");
        background-repeat: no-repeat;
        background-position: contain;
        background-size: cover;

    }

    .close{
        display:none;
    }


.mobile-nav-overlay.show {
    display: flex;
}
    .main .text {
        max-width: 40%;
        min-width: 280px;
        line-height: 1.5em;
        font-size: 100%;
    }

    .main .text h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
        line-height: 1.2;
    }

    .main .blue {
        color: var(--primeColor);
    }

    .main button {
        background-color: rgb(13, 154, 149);
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
    }


.main-img {
    width: 45%;
    display: flex;
    justify-content: center;

    img {
    max-width: 100%;
    height: auto;
}
}
.feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    padding: 6vh 10vw;
}

.feature-boxes {
    text-align: center;
    padding: 0.5rem;
    border: thin solid var(--primeColor);
    box-shadow: 0rem 0rem 1rem rgb(13, 154, 149, 0.5);
    flex: 1 1 17%;

    i {
    font-size: 2.5rem;
    color: var(--primeColor);
    margin-bottom: 1rem;
}

}

.feature-boxes h1 {
    font-size: 120%;
    font-weight: 700;
}

.feature-boxes p {
    font-size: 90%;
}
.about {
    padding: 8vh 10vw;
    display: flex;
    gap: 5vw;
    justify-content: center;
}

.about-img {
    flex: 1 1 40%;
    text-align: center;
    img {
        max-width: 100%;
        height: auto;
    }

}


.about-text {
    flex: 1 1 45%;

    h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.6;
    }
    p {
    font-size: 1rem;
    margin-bottom: 3rem;
    line-height: 1.5;
    }

    h1 {
    font-size: 250%;
    }

}


.about button {
    background-color: var(--primeColor);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}
@media (max-width: 1200px) {
    .main {
        text-align: center;
        padding: 2em 5%;
        background-size: cover;
        background-position: center;
    }

    .main .text {
        max-width: 100%;
    }

    .main-img {
        width: 100%;
        margin-top: 2rem;
    }

    .feature {
        flex-wrap: wrap;
        gap: 2rem;
        padding: 4vh 5vw;
    }

    .feature-boxes {
        flex: 1 1 45%;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-img,
    .about-text {
        flex: 1 1 100%;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 5vw;
    }

    .menu {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        margin: 0.5rem 0;
    }

    .nav-list.show {
        display: flex;
    }

    .icons {
        margin: 0;
    }

    .logo {
        margin: 0;
        width: 4rem;
    }

}

@media (max-width: 576px) {
    .main .text h1 {
        font-size: 2rem;
    }

    .feature-boxes {
        flex: 1 1 35%;
    }

    .nav-list li a {
        font-size: 0.9rem;
    }

    .icons i {
        font-size: 1rem;
    }

    .about-text h1 {
        font-size: 2rem;
    }

    .about-text p {
        font-size: 0.9rem;
    }

    .close{
        display:block;
    }
    
    
}

