
:root {
    --primeColor: rgb(13, 154, 149);
    --whiteColor: white;
    --blackColor: black;
    --lightGrey: #EAEAEA;
    --darkGrey: #CACACA;
    --darkerGrey: #7F7F80;
}


    body {
        font-size: 100%;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1.5vw;
        box-shadow: 0 0.2rem 0.5rem rgba(13, 154, 149, 0.5);

    }
.logo {
        width: 6vw;
        max-width: 4rem;
        height: auto;
        margin-left: 5em;
    }

    .nav-list {
        list-style: none;
        display: flex;
        gap: 2.5rem;

        li a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 300;
        color: var(--blackColor);
    }
    }


    .icons {
        display: flex;
        gap: 1.5rem;
        margin-right: 1em;

    }
